div{
    border: 1px black solid;
    padding: 40px;
}
.bloc1{
    background-color: rgb(43, 153, 180);
    position: relative;
    left: 40%;
    box-sizing: content-box;
    height: 200px;
    width: 200px;
}
.bloc2{
    background-color:brown;
    position: absolute;
    top: 25px;
    height: 10px;
    width: 10px;
}
.bloc3{
    background-color: blue;
    position: absolute;
    bottom: 25px;
    height: 10px;
    width: 10px;
}
.bloc4{
    background-color: orange;
    position: absolute;
    top: 25px;
    right: 25px;
    height: 10px;
    width: 10px;
}
.bloc5{
    background-color:yellow;
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 10px;
    width: 10px;
}